
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/testbase?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">2362524Aa1</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping resource="DataBase/logic/Bus.hbm.xml"/>
        <mapping resource="DataBase/logic/Driver.hbm.xml"/>
        <mapping resource="DataBase/logic/Route.hbm.xml"/>

    </session-factory>

</hibernate-configuration>